<div class="body">
  <div class="grad">
    <div class="header">
      <div><img width="70%" src="../../../../assets/images/confirmafacil.png"></div>
    </div>
    <br>
      <div class="login">
        <form class="form" [formGroup]="form">
          <input
            formControlName="login"
            type="email"
            class="form-control"
            placeholder="Email..."
            name="user"
          />
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Senha..."
            name="password"
          />
          <input type="button" value="Login" (click)="handleLogInClick()">
        </form>
      </div>
  </div>
</div>